{{#each locations as |location|}}
  <tr class="location-row" data-id="{{location.id}}">
      <td>{{location.name}}</td>
      <td>{{location.lat}}</td>
      <td>{{location.long}}</td>
      <td>{{location.default}}</td>
      <td><button type="button" class="btn-line clickable check-weather-btn">Check weather</button></td>
      <td><button type="button" class="btn-line clickable update-btn" data-toggle="modal" data-target="#updateModal">Edit</span></button></td>
      <td><button type="button" class="btn-line clickable delete-btn" data-toggle="modal" data-target="#deleteModal">Delete</span></button></td>
  </tr>
{{/each}}
